.opisan{
	position: absolute;
	top: 130px;
	left:0px;
	width: 290px;
	height: 20px;
	text-align: center;
	font-size: 17px;
	color:#fff;
	opacity: 0;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.descr{
	position: absolute;
	border-radius: 50%;
	width: 290px;
	height: 290px;
	background-color: rgba(0,0,0,.8);
	opacity: 0;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
