@import url('https://fonts.googleapis.com/css?family=Oswald|Press+Start+2P');

body{
  height: 100%;
  background: url(stardust.png);
  font-family: "Press Start 2P";
}

input
{
  display: block;
  padding: 1em;
  width: 700px;
  margin: auto;
}

#cap
{
  height: 113px;
}

h1
{
  text-align: center;
  font-size: 50px;
  color: #598;
  position:relative;
  top: 22px;
  font-weight: bold;
}

.results {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.result
{
 padding: 5px;
 width: 200px;
 height: 200px;
 margin-top: 90px;
 line-height: 150px;
 color: white;
 font-weight: bold;
 font-size: 3em;
 text-align: center;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 50%, #000);
    opacity: 0;
    transition: opacity 300ms @ease 50ms;
  }
}
.result img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.result__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0.5em;
  transform: translateY(100%);
  transition: transform 300ms @ease 50ms;
}

.result:hover {
  transform: scale(1.1);
  z-index: 5;
  &:before { opacity: 1; }
  .result__text { transform: translateY(0); }
}

.artist-name,
.track-name { display: block; }

.artist-name { font-style: italic; }
