@import url('https://fonts.googleapis.com/css?family=Oswald|Press+Start+2P');

body{
  height: 100%;
  background: url(stardust.png);
  font-family: "Press Start 2P";
}

input
{
  display: block;
  padding: 1em;
  width: 700px;
  margin: auto;
}

#cap
{
  height: 113px;
}

h1
{
  text-align: center;
  font-size: 50px;
  color: #598;
  position:relative;
  top: 22px;
  font-weight: bold;
}

.results {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
}

.result
{
 padding: 5px;
 width: 400px;
 height: 400px;
 margin-top: 90px;
 line-height: 10px;
 color: white;
 font-weight: bold;
 font-size: 0.9em;
 text-align: center;



}
.result img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.result__text {
  position: center;
  z-index: 2;
  padding: 0.5em;
  font-family: "Oswald";
  transform: translateY(100%);


}

.result:hover {
  transform: scale(1.1);
  &:before { opacity: 1; }
 }
}
